<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Home Page</title>

    <style type="text/css" media="screen">
      body {
        background-color: skyblue;
        text-decoration-color: white;
      }
    </style>
  </head>
  <body>
    <h1>Hello World!!!</h1>
    <p>My name is Bethrand, and I'm a Software Engineer</p>

    <h1>Status : <%=status || "fail" %></h1>
    <h1>Message : <%=message || "Welcome, something is wrong" %></h1>
  </body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Bee's Wall</title>
  </head>
  <body>
    <h1>Hello World!!!</h1>
    <p>My name is Bethrand Nnaemeka, and I'm a Software Engineer</p>
  </body>
</html> -->
